.contentRowWrapper{
    margin-bottom: 2.5em;
}

.ContentRowTitle {
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Segoe UI';
    padding-left: 3em;
  }

.ContentRowScrollingWrapper{
    overflow-x: hidden;
  overflow-y: hidden;
  flex-shrink: 1;
  flex-grow: 1;
  padding-left: 5em;
}

.ContentRowScrollingContent{
    display: flex;
    flex-direction: row;
}
